<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ecmo.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <permission
        android:name="com.ecmo.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ecmo.android.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".DrApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="PW_APPID"
            android:value="E8803-68B8E" />
        <meta-data
            android:name="PW_PROJECT_ID"
            android:value="A562387292074" />
        <meta-data
            android:name="com.pushwoosh.appid"
            android:value="E8803-68B8E" />
        <meta-data
            android:name="com.pushwoosh.senderid"
            android:value="@string/fcm_sender_id" />

        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecmo.android.activity.ProfileInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecmo.android.activity.EditprofileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecmo.android.activity.Changepassword"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.ecmo.android.activity.RefPatientlistActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.ecmo.android.activity.DocListActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.ecmo.android.activity.ViewReferalForm"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".utils.NotificationService"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="2">
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

            </intent-filter>
        </service>

        <service
            android:name=".utils.FirebaseMessagingRouterService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".activity.PatientForm"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.FormPreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>